doctype html              
html.
    <body>
        <h1>Hello world</h1>
        <h4>Upload an image</h4>
        <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="displayImage"/><br>
        <input type ="text", name = "Text", placeholder="Enter your text here"><br>
        <input type = "submit", value="Submit">
        </form>
    </body>